In [19]:
import pandas as pd
import requests
import html5lib
from bs4 import BeautifulSoup

In [ ]:
url2 = https://pokemondb.net/pokedex/game/scarlet-violet

In [210]:
df2= pd.read_csv("PokemonTypes.csv")
my_pokemon = df2.name[0:20]
my_pokemon

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
Name: name, dtype: object

In [211]:
pop = pd.DataFrame(columns=["hp","attack", "defense", "sp_Attack", "sp_Defense", "speed", "total", "name"])

for pokemon in my_pokemon:

    name = pokemon
    url = f'https://pokemondb.net/pokedex/{name}'

    data  = requests.get(url).text
    soup = BeautifulSoup(data,"lxml")

    main_body= soup.body.main
    y= main_body.find('div', class_= "grid-col span-md-12 span-lg-8").tbody
    stats = y.find_all('tr')

    base_stats = []
    for stat in stats:
        value =stat.find('td').text
        base_stats.append(value)

    total = sum(list(map(int, base_stats)))
    base_stats.append(total)
    base_stats.append(name)

    
    pop.loc[len(pop)] = base_stats
pop

    hp attack defense sp_Attack sp_Defense speed  total        name
0   45     49      49        65         65    45    318   Bulbasaur
1   60     62      63        80         80    60    405     Ivysaur
2   80     82      83       100        100    80    525    Venusaur
3   39     52      43        60         50    65    309  Charmander
4   58     64      58        80         65    80    405  Charmeleon
5   78     84      78       109         85   100    534   Charizard
6   44     48      65        50         64    43    314    Squirtle
7   59     63      80        65         80    58    405   Wartortle
8   79     83     100        85        105    78    530   Blastoise
9   45     30      35        20         20    45    195    Caterpie
10  50     20      55        25         25    30    205     Metapod
11  60     45      50        90         80    70    395  Butterfree
12  40     35      30        20         20    50    195      Weedle
13  45     25      50        25         25    35    205      Kakuna
14  65     90      40        45         80    75    395    Beedrill
15  40     45      40        35         35    56    251      Pidgey
16  63     60      55        50         50    71    349   Pidgeotto
17  83     80      75        70         70   101    479     Pidgeot
18  30     56      35        25         35    72    253     Rattata
19  55     81      60        50         70    97    413    Raticate

In [191]:
#compare gen 9 pokemon to old database and extract only new names.
#Use name to change url
#add name to the dataframe with the stats.